{% extends "home-base.html"%}
{% block title %}Delete Event{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-calendar" aria-hidden="true"></i> Delete the following event:</h1>
    <form action="/event/delete/{{event.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{event.name}}" required="true" readonly="true">
      </div>
      <div class="form-group">
        <label>Age Level</label>
        <input class="form-control" type="text" name="age_level" value="{{event.age_level}}" readonly="true">
      </div>
      <div class="form-group">
        <label>Race</label>
        <input class="form-control" type="text" name="race" value="{{event.race.name}}" readonly="true">
      </div>
      <div class="form-group">
        <label>Results</label>
        <textarea class="form-control" name="results" required="true" readonly="true">{{event.results}}</textarea>
      </div>
      <button type="submit" class="btn btn-danger" id="delete_btn">Delete</button>
    </form>
  </div>

{% endblock%}
{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#delete_btn').click(function () {
      if (! confirm('Are you sure?')) {
        return false;
      }
    })
  });
  </script>
{% endblock%}
