{% extends "home-base.html"%}
{% block title %}Home Page{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1  class="mt-5"><i class="fa fa-flag-checkered" aria-hidden="true"></i>Welcome to RaceNow!<i class="fa fa-flag-checkered" aria-hidden="true"></i></h1>
    <p>RaceNow is an easy way to quickly create and manage races. Use RaceNow for any size or type of Regatta including but not limited to Head Races, Spints, Henleys etc... Simply go to the races page to add a regatta and then add events from the events page.</p>

  </div>

{% endblock%}
