{% extends "home-base.html"%}
{% block title %}Edit Race{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i> Edit Race:</h1>
    <form action="/race/edit/{{race.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{race.name}}" required="true">
      </div>
      <div class="form-group">
        <label>Location</label>
        <input class="form-control" name="location" value="{{race.location}}" required="true">
      </div>
    <div class="form-group">
    <label>Type</label>
      <select class="form-control" name="type" placeholder="Type" required="true">
        <option>{{race.type}}</option>
        <option>Head</option>
        <option>Sprint</option>
        <option>Henley</option>
    </select>
  </div>
      <div class="form-group">
        <label>About</label>
        <textarea class="form-control" name="about" required="true">{{race.about}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>

{% endblock%}
